<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80912750661-7tjjl3m3cj710bpogngqho4e6arji7le.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80912750661-7tjjl3m3cj710bpogngqho4e6arji7le</string>
	<key>API_KEY</key>
	<string>AIzaSyCxE7TlGXONDyjkXnJwa0bBYpSYJ2fA3dg</string>
	<key>GCM_SENDER_ID</key>
	<string>80912750661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.tommyshi.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-89954</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-89954.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80912750661:ios:a5a0ebc7c0410ae1366b2c</string>
</dict>
</plist>